{% extends "encyclopedia/layout.html" %}

{% block title %}
    Creatae New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <br>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}
